{% extends 'base.html' %}
{% block content %}
<!-- Right side column. Contains the navbar and content of the page -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cars
            <!-- <small>Control panel</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Cars</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
                <div class="col-xs-4">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Edit Car</h3>                                   
                        </div><!-- /.box-header -->
                        <form method="POST">
                            {% csrf_token %}
                            <table class="table">
                                {{ form.as_table }}
                                <tr>
                                    <td colspan="2" align="right"><input type="submit" class="btn btn-primary" value="submit"></td>
                                </tr>
                            </table>
                        </form>
                    </div><!-- /.box -->
                </div>
        </div><!-- /.row (main row) -->
        <!-- Pagination links -->
    </section><!-- /.content -->
{% endblock content %}