{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    <h1>Cars</h1>
    <div class="jumbotron">
    <form method="get">
        {{ filter.form }}
        <button type="submit" class="btn btn-primary">Filter</button>
        <a href="{% url 'homepage' %}" class="btn btn-secondary">Clear Filter</a>
    </form>
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Brand</th>
            <th>Condition</th>
            <th>No. of previous owners</th>
            <th></th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ d.model }}</td>
            <td>{{ d.colour }}</td>
            <td>{{ d.brand }}</td>
            <td>{{ d.condition }}</td>
            <td>{{ d.no_previous_owners }}</td>
            <td><a class="nav-link" href="{% url 'cardetails' id=d.id %}">Details</a></td>
        </tr>
        {% endfor %}
    </table>
    <!-- Pagination links -->
    <div class="pagination" style="margin: 20px 0;">
        <span class="step-links">
            {% if data.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ data.number }} of {{ data.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a href="?page={{ data.next_page_number }}">next</a>
                <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <a class="btn btn-primary" href="{% url 'addcar' %}">Add Car</a>
    <div class="clear">&nbsp;</div>
</div>    
{% endblock content %}
