{% extends 'base.html' %}
{% block content %}
<!-- Right side column. Contains the navbar and content of the page -->
    <!-- Main content -->
    <section class="content">
      <div class="form-box" id="login-box">
        <div class="header">User Registration</div>
        <form method="post">
            {% csrf_token %}
            <div class="body bg-gray">
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="footer">                                                               
                <button type="submit" class="btn bg-olive btn-block">Register now</button>  
            </div>
        </form>
    </div>
    </section> 
{% endblock content %}

